@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
  --primary-color: #E63946;
  --secondary-color:#551A8B;
  --accent1-color: #6EA0BF;
  --accent2-color: #E6F2FF;

  --heading-font: 'Merriweather', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #6EA0BF;
  --nav-link-color: #551A8B;
  --nav-hover-link-color: #E63946;
  --nav-hover-background-color:#E6F2FF;
}


body {
    font-family: var(--paragraph-font);
  }
/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: var(--accent1-color);
    margin: 20px;
  }
  
  /* Container styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Heading styles */
  h1 {
    color: var(--secondary-color);
  }
  
  h2 {
    color:var(--secondary-color);
    margin-top: 30px;
  }
  
  /* List styles */
  ul {
    margin-bottom: 20px;
  }
  
  /* Color Schema styles */
  .color-schema {
    margin-bottom: 20px;
  }
  
  .color-schema li {
    list-style-type: none;
  }
  
  .color-schema li:before {
    content: "▪ ";
    color: var(--secondary-color)
  }
  
  /* Typography styles */
  .typography {
    margin-bottom: 20px;
  }
  
  .typography li {
    list-style-type: none;
  }
  
  .typography li:before {
    content: "▪ ";
    color: var(--secondary-color);
  }
  
  /* Wireframe styles */
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Section styles */
  .section {
    margin-bottom: 40px;
  }
  