@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
  --primary-color: #E63946;
  --secondary-color:#457B9D;
  --accent1-color: #1D3557;
  --accent2-color: #A8DADC;

  --heading-font: 'Merriweather', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #1D3557;
  --nav-link-color: #457B9D;
  --nav-hover-link-color: #E63946;
  --nav-hover-background-color: #A8DADC;
}

body {
    font-family: var(--paragraph-font);
  }


header, main, footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}

