@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
  --primary-color: #E63946;
  --secondary-color:#551A8B;
  --accent1-color: #6EA0BF;
  --accent2-color: #E6F2FF;

  --heading-font: 'Merriweather', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #6EA0BF;
  --nav-link-color: #551A8B;
  --nav-hover-link-color: #E63946;
  --nav-hover-background-color:#E6F2FF;
}

body {
    font-family: var(--paragraph-font);
    
  }

  h1,
  p,
  a{
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
  }
  header, main {
    
    margin: 1rem auto;
    border: 1px solid var(--accent2-color);
    padding: 1rem;
    background-color: var(--accent2-color);
  }
  
  /*--MAin start--*/
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  
  section {
    padding: 1rem;
    background-color: #fff;
  }

  .card, .card2, .card3, .card4, .card5, .no-card{
    box-shadow: 3px 3px 3px 1px var(--nav-background-color);
    border-radius: 5px;
  }
  
  .card2{
    text-align: center;
  }
  .card2 ul {
    list-style-type: none;
  }
  /* Main ends */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  
/*Header styles begin */
  
  header {
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 0px;
    max-width: 100rem;
  }
  
  header img, nav img{
    width: 60px;
    height: 60px;
  }
 
  
  main h3, .card2 div{
    color: var( --nav-link-color);
    font-weight: bolder;
    font-size: larger;
  }



  /*header h3{
    color: #fff;
  } */

  .h1-name{
    color: #fff;
    font-size: larger;
  }

   /* Hamburger Menu */

   #hamburgerButton{
    font-size: 3rem;
    color: var(--accent2-color);
    background: var(--accent1-color);
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    border: 0;
    margin-top: 14px;
  
  }
  
  #mainMenu {
    display: none;
  }

  #mainMenu.show {
    display: block;
  }
  .header-content {
    position: relative;
    width: 100%;
    height: 50px;
    padding-bottom: 39.25%; 
    
    
  }
  
  .header-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .name {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 1rem;
    
  }
  .sname{
    color: var(--accent2-color);
    font-size: large;
    font-weight: bolder; 
    
  }

  .name img{
    width: 60px;
    height: 60px;
  }
  
  .cta-btn{
    position: absolute;
    top: 45%;
    left: 33%;
    color: var(--accent2-color);
    background: var(--nav-link-color);
    border-radius: 2px 2px 2px 1px var(--accent1-color);
    height: 60px;
    width: 190px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 19px; 
    font-size: large;
    
  }

  .cta-btn:hover{
    background: var(--nav-hover-link-color);
    box-shadow: 2px 2px 2px 1px var(--accent2-color);
    transition: .5s;
  }

  .cta-btn a{
    color: var(--accent2-color);
    text-decoration: none;
  }
  /* --header styles end--*/

  footer{
    position: relative;
    max-width: 100rem;
    height: 5rem;
    padding: 1rem;
    text-align: center;
    background: var(--accent1-color);  
    border: 1px solid var(--accent2-color);
    color: #fff;
    font-size: 1.5rem;
    
  }
  
  h1, h2 {
    font-size: 1.5rem;
  }
  
  /* Nav starts */
  nav {
    background-color: var(--nav-background-color);
    margin: 0 auto;  
    max-width: 100rem;
    transition: .6s;
  }
  nav ul {
    list-style-type: none;
  }
  nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  
  nav a:hover {
    border: 1px solid #fff;
    transition: .5s;
  }
  
  
  .active{
    border-bottom: 1px solid var(--nav-hover-link-color); 
    padding-bottom: 10px !important;
    transition: .5s;
    border-width: 3px;
    
  }
  
  
  
  nav img, nav h2, .navWords{
    display: none;
}

  /* Nav ends */

  section h3{
    text-align: center;
    
    
    
  }
   
  .spot{
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    color: var(--nav-link-color);
    box-shadow: 1px 2px 1px 1px var(--nav-hover-link-color);
  }

 

  hr{
    font-size: small;
    border: 1px dotted var(--nav-hover-link-color);
 }

 .hr-spot{
    border: 1px dashed var(--nav-hover-link-color);  
 }

 .hr-spot-2{
  border: 1px dashed var(--nav-hover-link-color);  
}

 .hr-spot-pix{
  border: 1px dashed var(--nav-link-color); 
 }

 .hr-spot-hide{
  border: 1px dashed var(--nav-link-color); 
 
 }

 /*
 .sidebar-left {
  order: 3;
}

.sidebar-right {
  order: 2;
} 
*/

 .main-3{
  padding: 30px;
  margin: 30px;
 }

 .grid-container {
  grid-template-columns: 1fr;

}      


.field {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 1px 2px 2px 1px var(--nav-background-color);
  border-radius: 4px;
}

.field img{
  width:100%;
  height:300px;
}
.field h3 {
  margin-top: 0;
}

.field p{
  color: var(--nav-hover-link-color);
  font-weight: bolder;
}

.field ul {
  list-style-type: none;
}
 
.giframe-3{
  width:100%;
  height:300px;
  border: 0;
}

.Visits-cont, .vis-ct{
  color: var(--secondary-color);
  font-style: italic;
  font-size: larger;
}

.field img{
        
  background:#000;
  animation: fade 15s;
  cursor: pointer;
  border-radius: 3px;
  object-fit: cover;
  
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 


/*------ Form ------*/

form label.top, form div{
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}



input, select {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 3px;
}


input[type="submit"]{
  border: none;
  background: #9c2c13;
  color: #ffffff;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  cursor: pointer;

}

input:required{
  border-left: red solid 6px;
}

input:required:valid{
  border-left: green solid 6px;
}

textarea {
  height: 120px; 
  width: 100%; 
}

/* banner */

.header {
  display: none;
  width: 100%;
  padding:60px 0;
  text-align: center;
  background: var(--nav-link-color);
  color: white;
}
.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
}
.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}

.grid-view-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}